{$SITE_HOSTNAME}:{$SITE_PORT}/media {
    bind {$SITE_ADDRESS}
    log stdout
    errors stderr

    root {$SITE_MEDIA_ROOT}
}

{$SITE_HOSTNAME}:{$SITE_PORT}/ {
    bind {$SITE_ADDRESS}
    log stdout
    errors stderr

    root {$SITE_ROOT}
    rewrite {
        to {path} {path}/ /index.php?{query}
    }

    # https://caddyserver.com/docs/fastcgi
    fastcgi / {$FASTCGI_HOST}:{$FASTCGI_PORT} php {
        pool 2
    }
}
